.top
  .top__headr
    果南ちゃんお誕生日おめでとう
  .top__content
    .top__content__head
      お祝いメッセージを送ろう
    .top__content__name
      太郎
    .top__content__text
      お誕生日おめでとう
    .top__content__sumit
      送信
    .

    

    
  


